body {
     background-color: rgb(168, 204, 39);
   /*background-color: rgba(23, 233, 107, 0.92);*/
    margin-bottom: 8px;     
    
}

header {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: underline;
    font-size: 25px;
    color: blue;
}

#newhead {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: underline;
    font-size: 25px;
    color: blue; 
    
}


#container1 {
    font-size: 25px;
    font-family: 'Comic Sans MS';
    font-weight: bold;
    text-align: auto;
    color: blue;
    

    margin-left: 130px;
    margin-right: 130px;
    

    align-items: center;
}

#name  {
    border-radius: 18px;
    padding: 15px;
    width: 200px;
    height: 10px;
    
    color: blue;

    font-size: 20px;
    font-weight: bold;
    font-style: 'Comic Sans MS';
}

#email {
    border-radius: 18px;
    padding: 15px;
    width: 200px;
    height: 10px;
    
    color: blue;

    font-size: 20px;
    font-weight: bold;

}

#message {
    border-radius: 18px;
    padding: 15px;
    width: 200px;
    height: 100px;
    
    color: blue;

    font-size: 20px;
    font-weight: bold;
}

input {
    font-family: 'Comic Sans MS';
    opacity: 900%;
    border-style: ridge;
}

#para1 {
    text-align: center;
    font-size: 180%;
}

#container2 {
    text-align: center;
    
    background-color: lightblue;

    align-items: center;

    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;

    border-radius: 20px;
}

#sendbtn {
    border-radius: 50px;
    font-size: x-large;
    font-style: 'Comic Sans MS';
    
    font-weight: bold;

    width: 130px;
    padding: auto;
    margin: 70px auto;

    padding-top: 2px;
    padding-bottom: 2px;

    font-family: 'Comic Sans MS';
    color: blue;
}




