body {
    background-color: lightblue;
      
    
}

header {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: underline;
    font-size: 25px;
    color: darkorange;
}

#para {
    font-size: 25px;
    font-family: 'Comic Sans MS';
    font-weight: bold;
    text-align: auto;
    color: blue;
    

    margin-left: 130px;
    margin-right: 130px;
}
